{% extends "schemas/layout.html" %}

{% load static %}

{% block title %}
Data schemas
{% endblock %}

{% block body %}

{% block script %}
<script src="{% static 'schemas/index.js' %}"></script>
{% endblock %}

{% include 'schemas/inc/alerts.html' %}

<div class="col-9 mx-auto">
    <div class="row my-4">
        <h4 class="col-6 mt-1"> 
            Data schemas
        </h4>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end col-6">
            <a href="{% url 'schema' %}" class="btn btn-success">New schema</a>
        </div>
    </div>

    <table class="table table-bordered rounded-3">

        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Modified</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for schema in schemas %}
    
            <tr class="schema" id="schema{{schema.id}}">
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'datasets' schema.id %}">
                        {{ schema.name }}
                    </a>
                </td>
                <td>
                    {{ schema.updated_at|date:"Y-m-d" }}
                </td>
                <td class="col-width">
                    <a href="{% url 'schema_update' schema.id %}">
                        Edit schema
                    </a>
                </td>
                <td class="col-width">
                    <button class="btn btn-outline-danger btn-sm py-0 my-0">Delete</button>
                    {% comment %} <p class="btn btn-outline-danger btn-sm py-0 my-0">Delete</p> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}