{% extends "schemas/layout.html" %}

{% load static %}

{% block title %}
Data schemas
{% endblock %}

{% block body %}

{% block script %}
<script src="{% static 'schemas/index.js' %}"></script>
{% endblock %}

{% include 'schemas/inc/alerts.html' %}

<div class="col-9 my-3 mx-auto">
    <div class="row my-3">
        <h4 class="col-6"> 
            Data schemas
        </h4>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end col-6">
            <a href="{% url 'schema' %}" class="btn btn-success">New schema</a>
        </div>
    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for schema in schemas %}
    
            <tr class="schema" id="schema{{schema.id}}">
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'datasets' schema.id %}">
                        {{ schema.name }}
                    </a>
                </td>
                <td>
                    {{ schema.updated_at|date:"Y-m-d" }}
                </td>
                <td>
                    <a href="{% url 'schema_update' schema.id %}">
                        Edit schema
                    </a>
                    <span class="del-link text-danger ms-3">Delete</span>
                </td>
    
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}