{% extends "schemas/layout.html" %}

{% block body %}

<div class="card w-50 mx-auto pb-5 mt-5">
    <div class="card-body">
        <h2 class="text-center my-5">
            Register
        </h2>  
        {% if message %}
        <div class="text-center text-danger">{{ message }}</div>
        {% endif %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group my-4 w-50 mx-auto">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group mb-4 w-50 mx-auto">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group mb-3 w-50 mx-auto">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm password">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-9">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
            
        </form>

    </div>
  </div>    

{% endblock %}