body {
    background-color: #495057;
    color: #fff3cd;
}
table {
    background-color: #fdf5de;
    color: black;
}
tr {
    border: solid #495057 1px;
    line-height: 32px;
}
th, td {
    text-align: center;
}

.table-headings {
    line-height: 36px;
}
.card-body {
    background-color: #495057;
    border: solid #fff3cd 3px;
}
.text-danger {
    color: black;
}
nav {
    background-color: #fdf5de;
}
.col-del {
    background-color: #e9ecef;
    margin-top: 11px;
}

a {
    text-decoration: none;
}

.range {
    visibility: hidden;
}

.col-width {
    width: 20%;
}

#smt-btn {
    position: fixed;
    top: 100px;
    right: 15%;
}

@keyframes hide {
    0% {
        opacity: 1;
        line-height: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    75% {
        opacity: 0.2;
        line-height: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    100% {
        opacity: 0;
        line-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}
#message {
    animation-name: hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

